
.app-title{
    text-align: center;
    
}

.todolist-container{
    margin-top: 15rem;
    height: 500px;
    width: 500px;
    background-color: #ffffff;
    margin: 5px auto;
    border-radius: 10px;
    padding: 5px;
    overflow-y: scroll;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.todolist-container::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.todolist-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 20px; /* Round corners of the track */
}

.todolist-container::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Round corners */
    border: 2px solid #f1f1f1; /* Adds padding to make the thumb smaller */
}

.todolist-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb when hovered */
}

/* Firefox */
.todolist-container {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #888 #f1f1f1; /* Color of the thumb and track */
}

/* Edge and Internet Explorer */
.todolist-container {
    -ms-overflow-style: -ms-autohiding-scrollbar; /* Auto-hiding scrollbar */
}
.add-item-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-input{
    padding: 5px 10px;
    border-radius: 10px;
    border:1.5px solid gray;
    font-size: 18px;
}
.add-icon{
    height: 32px;
    margin-left: 20px;
    cursor: pointer;
}

.categeory-select{
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    border: 1px solid gray;
    margin-left: 5px;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .app-title{
       margin-left: 250px;
        width: 250px;
    }
    .todolist-container{
        margin: 0% 20%;
    }
  .boy{
    margin-left:98px;
    margin-bottom: -52px;
}
  .girl{
    margin-left: 560px;
}
.add-item-container{
    margin-left: 300px;
}
}